<div class="cards-home">
  <h1>SuperPowers!</h1>
  <h2>List of superpowers</h2>

  <div class="cards">
    <% @superpowers.each do |superpower| %>
      <div class="card">

        <% if superpower.photo.present? %>
          <%= link_to superpower_path(superpower) do %>
            <%= cl_image_tag superpower.photo.key, height: 300, width: 200, crop: :fill, alt: superpower.name, class: "superpower-image" %>
          <% end %>
          <% end %>




        <% if superpower.user == current_user %>
          <%= link_to "Delete", superpower_path(superpower),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "btn btn-danger" %>
        <% end %>

      </div>
    <% end %>
  </div>

  <hr>
  <%= link_to "Add a New Superpower", new_superpower_path, class: "glowing-btn" %>
</div>
