<div class="container">
 <h1>Add a new superpower</h1>
 <%= render 'superpower_form', superpower: @superpower  %>
 <hr>
 <%= link_to 'Back to Superpowers', superpowers_path, class: 'glowing-btn' %>
</div>
