


<% if booking.errors.any? %>

  <div class="alert alert-danger">
    <h4><%= pluralize(booking.errors.count, "error") %> prohibited this superpower from being booked:</h4>
    <ul>
      <% booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
