<h1>Your Bookings</h1>

<% @bookings.each do |booking| %>
  <div class="booking">
    <p><strong>Superpower:</strong> <%= booking.superpower.name %></p>
    <p><strong>Start Date:</strong> <%= booking.start_date %></p>
    <p><strong>End Date:</strong> <%= booking.end_date %></p>
    <p><strong>Comment:</strong> <%= booking.comment %></p>
  </div>
  <hr>
<% end %>
