<div class="banner" style="background-image:  url('<%= image_path("superpowers.jpg") %>')">
  <div>
  <div class="container">
    <%# <h1><strong>Powershare</strong></h1>
    <p>rent superpowers on demand</p> %>
    <div class="button-container">
    <%= link_to 'Enter', superpowers_path, class: "btn btn-flat" %>
  </div>
</div>
