.form-wrapper {
  background-color: rgba(255, 255, 255, 0.6); /* 半透明の白背景 */
  border-radius: 15px; 
  padding: 30px; 
margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 80%;
}


.form-wrapper label {
  color: black;
}


.add_newpower {
  margin: 0;
}

.add_newpower p {
  margin-bottom: 15px;
}