.banner {
  height:700px;
  display: flex;
  justify-content: center;
  background-position: center;
  margin: 0 auto;
  width: 92%;
  border-radius: 30px;
  align-items: flex-end;
}

   h1, p{
  color: rgb(228, 228, 228);
  text-align: center;
  }

