.btn-flat1 {
    display: inline-block;
    padding: 22px 50px;
    border-radius: 45px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    letter-spacing: 4px;
    font-size: 32px;
    color: rgb(255, 255, 255);
    background: rgb(65, 176, 228);
    text-shadow: 0 0 5px rgba(72, 72, 72, 0.8);
    margin-bottom: 70px;
}

.btn-flat1:hover {
  background: rgb(65, 176, 228);
  box-shadow: 0 0 10px rgba(91, 192, 235, 0.7), 0 0 20px rgba(91, 192, 235, 0.4); /* キラキラ効果 */
  transform: translateY(-2px);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  color:#e6e6e6;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.btn-flat {
  color: rgb(255, 255, 255);
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(20, 148, 106);
}

.create-superpower-btn {
  background-color: #017BC4;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border:none;
}

.create-superpower-btn:hover,
 .create-superpower-btn:active {
  background-color: #FE670A;
  color:white;
  box-shadow: 0px 0px 15px rgba(1, 123, 196, 0.8); /* Blue glow */
}


.glowing-btn {
  background-color: #017BC4;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  text-decoration: none;
  margin: auto;

}
.glowing-btn:hover,
.glowing-btn:active {
  background-color: #1B2364; /* Stay darker on hover */
  box-shadow: 0px 0px 15px rgba(255, 46, 0, 0.8); /* Glowing light effect */
}
