.features {
  padding: 100px 0;
   font-family: "Bangers", system-ui;
}

.feature-grid {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
        justify-content: center;
}

.container{
  text-align: center;
}
.feature-text,
.feature-image {
  width: 48%;
  
}

.feature-text h2 {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 3px;
  color: white;
  font-weight: bold;
}

.feature-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-image img {
  width: 80%; 
  height: auto;
  border-radius: 16px;
  object-fit: cover;
  max-height: 250px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}