.powers {
    padding: 100px 0;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #ffffff;
}

.powers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    column-gap: 20px;
    width: 100%;
}


.power-card {
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
