.reviewss {
    padding: 50px 0;
}

.reviews-grid {
    display: flex;
    justify-content: space-between;
}

.reviews {
  width: 90%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;}

.reviews p {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 2px;
    color: #ffffff;
}
